* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    color: #333;
    background-color: #f4f4f4; 
}

h1{
    border-left: 10px solid green;
    padding-left: 10px;
    background-color: yellowgreen;
} 

input{
    border: 2px solid;
    border-radius: 3px;
}

